apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: fincore
  labels:
    app: account-service
spec:
  selector:
    app: account-service
  ports:
    - name: http
      port: 80
      targetPort: http
  type: ClusterIP
